.card-row{
    justify-content: center;
    align-items: center;
}
.join-link{
    margin-left: 80px;
    font-weight: 350px;
    color:black !important;
}
.logo{
    height:45px;
    width:45px;
    padding: 1px;
    border: 2px solid #fff;
    border-radius: 50px;
}
.header{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #DADADA;
}
.card-col{
    position: absolute;
    top: 159px;
}
.card{
    /* background-color: #F3F3F3;
    border:none !important; */
    background: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
}
.title{
    font-size: 33px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    font-family: proxima-nova,Arial,Helvetica,sans-serif;

}
.card-title{
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-family: proxima-nova,Arial,Helvetica,sans-serif
}
.email{
    background-color: #e9e9e9;
    border-radius: 12px;
}
.password{
    background-color: #e9e9e9;
    border-radius: 12px;
}
.login{
    width:100%;
    font-weight: 500;
    margin-bottom: 10px;
    /* background-color: #00aced;
    border-color: #00aced; */
    background: black;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 0 0.2rem black !important;
}
.login:active:focus {
    background: black;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 0 0.2rem black !important;
}

.forgot{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 15px;
    /* color: #00aced !important; */
    color: white !important;
}
.m-t-80 {margin-top: 55px;}
@media only screen and (max-width: 992px) {
    .title { font-size: 30px;}
    .card-title{font-size: 22px;}
    .m-t-80 {margin-top: 40px;}
   }
   @media only screen and (max-width: 500px) {
     .card-title{font-size: 20px;}
    }