.headerPanel {
  width: 100%;
  float: left;
  padding: 10px 0;
  /* border-bottom: 1px solid #DADADA; */
}

.top-headear {
  width: 33.33%;
}

.popl {
  width: 100%;
  background-color: #3BD950;
  color: white;
  font-weight: 550;
  text-align: center;
  border: none;
}


.setFontSignUp {
  font-size: 15px;
  cursor: pointer;
}

.setFontSignUp:hover {
  text-decoration: underline;
}

.card-row {
  justify-content: center;
  align-items: center;
}

.join-link {
  margin-left: 80px;
  font-weight: 350px;
  color: black !important;
}

.logo {
  height: 60px;
  width: 60px;
}

.header {
  text-align: center;
  width: 100%;
  /* border-bottom: 1px solid #DADADA; */
}

.card-col {
  position: absolute;
  top: 159px;
}

.card {
  /* background-color: #F3F3F3;
    border:none !important; */
  background: black;
  color: white;
  /* border: 2px solid white; */
  padding: 10px;
}

.title {
  /* font-weight: bold; */
  font-size: 40px;
  color: #fff;
  font-weight: normal;
}

.card-title {
  font-weight: lighter;
  font-size: 20px;
  font-size: 20px;
}

.email {
  width: 92% !important;
  margin-left: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 7px;
}

.password {
  width: 92% !important;
  margin-left: 22px;
  background-color: #ffffff;
  border-radius: 7px;
}

.login {
  margin-left: 23px;
  width: 92%;
  font-weight: 500;
  margin-bottom: 95px;
  background: rgb(26, 188, 8);
  color: white;
  border: 1px solid rgb(26, 188, 8);
  box-shadow: 0 0 0 0.2rem black !important; 
}

.login:active:focus {
  background: black;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 0 0.2rem black !important;
}

.small{
  margin-left: 22px;
}

.join-here{
  border-bottom: 1px solid white;
  font-weight: 600;
}

.join {
  width: 100%;
  margin-bottom: 10px;
  background: rgb(0,148,244);;
  color: white;
  border: 1px solid rgb(0 , 148, 244); 
  /* box-shadow: 0 0 0 0.2rem black !important; */
}

.join:active:focus {
  background: black;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 0 0.2rem black !important;
}

.forgot-comp {
  text-align: right;
  margin: 0px 22px 30px 0px;
}

.forgot-comp>a {
  color: white;
}

/* .forgot{
   float: right;
    margin: 20px;
    font-size: 15px;
} */
.text-black {
  color: #fff !important;
}

.m-t-80 {
  margin-top: 38px;
  margin-bottom: 35px;
}

@media only screen and (max-width: 992px) {
  .title {
    font-size: 30px;
    font-weight: normal;
  }

  .card-title {
    font-size: 14px;
    font-weight: lighter;
  }

  .m-t-80 {
    margin-top: 38px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .card-title {
    font-size: 14px;
    font-weight: lighter ;
  }
}
