.headerPanel {width: 100%; float: left; padding: 10px 0; border-bottom: 1px solid #DADADA;}
.justify-space-between {justify-content: space-between;}
.aline-center{align-items: center;}
.rippllogo {height: 45px; padding: 1px; border: 2px solid #fff; border-radius: 50px;}
.text-black{color: #fff}
.settingTitle{font-size: 1.5rem;color: #fff}
.form-control:focus:hover, .form-control:visited:hover, .form-control:active, .form-control:hover, .form-control{background-color: #e9e9e9; padding: 8px; border-radius: 10px;}
.form-control:focus, .form-control:visited{box-shadow: none; background-color: #ffffff}
.save-button{background-color: #00aced; border-color: #00aced; font-size: 20px;}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}
.btn-primary:hover{
    color: #000;
    background-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}