<div class="headerPanel">
	<div class="col-md-6 offset-md-3">
	  	<ul class="nav">
	  		<li class="top-headear text-left align-self-center"><a class="text-black"><b></b></a></li>
	  		<li class="top-headear text-center align-self-center"><a><img alt="Popl logo" class="rippllogo" src="assets/logo/Attachment_1588757267.png"></a></li>
	  		<li class="top-headear text-right align-self-center"><a (click)="back()" class="text-black btn"><b>Back</b></a></li>
	  	</ul>
	</div>
</div>
<div class="main-section">
	<div class="col-md-6 offset-md-3">
		<div class="w-100 text-center float-left mt-3 ">
			<h4 class="settingTitle mb-3">Change Password</h4>
		</div>
		<form [formGroup]="resetPasswordForm">
		  <div class="form-group">
		    <input type="password" class="form-control" formControlName="current_password" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Current password">
		  </div>
		  <div class="form-group">
		    <input type="password" class="form-control" formControlName="password" placeholder="New password">
		  </div>
		  <div class="form-group">
		    <input type="password" class="form-control" formControlName="confirm_password" placeholder="Confirm new password">
		  </div>
		  <button type="submit" class="btn btn-primary w-100" (click)="onSubmit(resetPasswordForm.value)"
		  [disabled]="resetPasswordForm.invalid">Submit</button>
		</form>
	</div>
</div>
