<div class="headerPanel">
    <div class="col-md-6 offset-md-3">
        <ul class="nav">
            <li class="top-headear text-left align-self-center cursorPoint" routerLink = "/settings"><i class="fa fa-long-arrow-left" style="font-size: 20px;
            color: #fff"></i></li>
            <li class="top-headear text-center align-self-center"><a><img alt="Popl logo" class="rippllogo"
                        src="assets/logo/Attachment_1588757267.png"></a></li>
        </ul>
    </div>
</div>



<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12 align-center pt5">
        <div class="MainContainer">
            <div class="MainCol text-center">
                <h4 class="EditProfileHeader">Compatible Phones</h4>
            </div>
        </div>
    </div>




    <div class="col-md-6 offset-md-3 col-xs-12 align-center pt5">
        <div class="MainCol align-center">
            <p><b>Apple</b> – iPhone XR, XS, XS Max, iPhone 11, iPhone 11 Pro, iPhone 11 Pro Max, all future iPhones
                <br><br>

                <strong>Some Android phones might have NFC turned off in settings. If your Popl is not working with an
                    Android, have the Android user search for NFC in settings and make sure it is
                    switched on.</strong>

                <br><br>

                <b>Google</b> – Pixel, Pixel XL, Pixel 2, Pixel 2XL, Pixel 3, Pixel 3XL, Pixel 3A, Pixel 3aXL, Pixel 4,
                all future Pixels

                <br><br>
                <b>Samsung</b> – Note 8, 9, 10, 10+, all future Samsungs

                <br><br>

                <b>Galaxy</b> – Galaxy SIII, S4, S5, S6, S6 Edge, S6 Edge+, S7, S7Edge, S8, S8+, S9, S9+, S10, S10 5G,
                S10+, all future Galaxies
                <br><br>

                <b>HTC</b> – One M9, Desire 10 Pro, Exodus 1, U11/Life/+, Desire 12/12+, U11 Eyes, U12 Life, U12+, U19e,
                19+, all future HTC phones
                <br><br>

                <b>Huawei</b> – P10, P10 Plus, P10 Lite, P20, P20 Pro, P20 Lite, P30, P30 Pro, P30 Lite, all future
                Huaweis
                <br><br>

                <b>LG</b> – G3, Nexus 5X, V10, G4, K10, V20, G5, G6, V30, V35 ThinQ, Q Stylus, Q Stylo 4, V40 ThinQ, V50
                ThinQ 5G, Q8, Q7, G7 ThinQ, G8, G8s ThinQ, Q9, One, all future LG phones
                <br><br>

                <b>Xiaomi</b> – Mi Mix, Mi Mix2, Mi Mix 2S, Mi Mix 3, Mi5, Mi5s, Mi5 Plus, Mi6/X, Mi6, Mi8, Mi8 Lite,
                Mi8 Pro, Mi9, Mi9 SE, all future Xiaomi phones
                <br><br>

                <b>Nokia</b> – 3, 5, 6, 8, 8.1, 6.1, 8 Sirocco, 7 Plus, 5.1, 9 PureView, all future Nokias
                <br><br>

                <b>OnePlus</b> – One, 3, 3T, 5, 5T, 6, 6T, 7, 7 Pro, 7 Pro 5G, all future OnePlus phones
                <br><br>

                <b>Motorola</b> – Moto P50, Moto X4, Moto Z3, Moto Z3 Play, all future Motorolas
                <br><br>

                <b>Sony</b> – Xperia XZ1/Compact, Xperia 1, 10/Plus, Xperia XA1/Ultra/Plus, Xperia XZ2/Compact/Premium,
                Xperia XA2/Ultra/Plus, Xperia XZ3, all future Sony phones
                <br><br>

                <b>Essential</b> – PH, PH-1, all future Essential phones</p>
        </div>

    </div>
</div>