.headerPanel {
    width: 100%;
    float: left;
    padding: 10px 0;
    border-bottom: 1px solid #DADADA;
}

.pt5 {
    padding-top: 25px !important;
}

.cursorPoint {
    cursor: pointer;
    outline-color: white !important;
}
.MainCol {
    color: #fff;
}