<!-- <button class="popl btn">Tap Here To get Your Tap In</button> -->

<div class="header">
    <img class="logo my-3" src="assets/logo/Attachment_1588757267.png" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 m-t-80">
        <!-- <h1 class="title text-center">Welcome to Tap in 💥</h1> -->
        <!-- <h1 class="title text-center">Welcome to TapIn</h1> -->
        <div class="card">
          <div class="card-body">
            <!-- <h2 class="card-title text-center">What would you like to do?</h2> -->
            <div class="row text-center row-1">
              <div class="col-12">
                <!-- <button type="submit" class="btn login mt-5 text-center" (click)="login()">Login</button> -->
               <img (click)="login()" class="image1" src="assets/images/login.png" />
              </div>
            </div>
            <div class="row middle-row">
                <div class="col-8 text-center">
                    <hr class="left"> 
                    <span class="text-center text">OR</span>
                    <hr class="right">
                </div>
            </div>
            <div class="join-row text-center row-2">
              <div class="col-12">
                <!-- <button type="submit" class="btn join" (click)="signup()">Join Now</button> -->
                <img (click)="signup()" class="image2" src="assets/images/join.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="footerMain">
          <div class="PoweredSection">
            <!-- <strong><a class="PoweredBy">Patent Pending <i class="fa fa-check-circle"></i><br></a></strong> -->
            <!-- <a class="colorLink"><hr class="hr"><strong>TapIn</strong></a> -->
            <!-- <a class="colorLink"><strong>TapIn</strong></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  